body {
  font-family: Arial, sans-serif;
  background-color: #fff8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background-color: white;
  border: 2px solid #f7d88b;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  color: #b97300;
}

.bloque {
  background-color: #fffaf0;
  border: 1px solid #f1d18a;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
  color: #b97300;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #e8c66a;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  background-color: #ffb300;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #c5a86f;
}

p {
  margin-top: 10px;
  font-weight: bold;
  color: #8a5a00;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #b97300;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
