body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background: #ff4f81;
  padding: 40px;
  border-radius: 12px;
  width: 350px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.logo {
  font-size: 40px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}


.input-group {
  text-align: left;
  margin-bottom: 15px;
}

.input-group label {
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
}

.btn {
  background: white;
  border: none;
  padding: 12px;
  width: 100%;
  color: #ff4f81;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.btn:hover {
  background: #e04370;
  color: white;
}
