body {
  font-family: Arial, sans-serif;
  background-color: #eaf3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedor {
  background-color: white;
  border: 2px solid #88b3f7;
  border-radius: 12px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 25px;
  color: #004aad;
}

.bloque {
  background-color: #f7fbff;
  border: 1px solid #bcd2f7;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 10px;
  color: #004aad;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #88b3f7;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin-top: 10px;
  font-weight: bold;
  color: #003b85;
}

.link {
  display: inline-block;
  margin-top: 10px;
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
